<%- include('../partials/header') %>
<div class="show">
    <h1><%= game.name %></h1>
    <div class="text-center"id="game-desc">
        <div><%= game.summary %></div>
        <div>Developed By: <%= developer.name %></div>
        <div>Rated: <%= game.age_ratings %></div>
    </div>
    <div class="screenshot">
        <img src="<%= cover.url %>" alt="No Screenshot Available" id="game-screenshot">
    </div>  
    <div class="bottom-tabs">
        <div class="buy-tab">
            <h3>Buy here!</h3>
            <% if (game.steam) { %>
                <a href="<%= game.steam %>"><img src="https://i.imgur.com/lxkEyW3.png" id="steam"></a>
            <% } %> 
            <% if (game.playstation) { %>
                <a href="<%= game.playstation %>"><img src="https://i.imgur.com/hnUSDIC.png" id="playstation"></a>
            <% } %> 
            <%if (game.xbox) { %>
                <a href="<%= game.xbox %>"><img src="https://i.imgur.com/gd8j4p6.png" id="xbox"></a>
            <% } %>
            <% if (!game.steam && !game.playstion && !game.xbox) { %>
                <p> This game is not available for purchase. Check back later.</p>
                <% } %>
        </div>

        
</div>
</body>
</html>